$pc: 951px; // PC
$tab: 950px; // タブレット
$sp: 550px;  // スマホ

$img: "../img/"; //画像

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

$color1: black;
$color2: #800000;
$color3: #fff;
$color4:linear-gradient(#BF0000, #641616, #3D0202, #390000);

$font: 'Sawarabi Mincho', sans-serif;

body {
    font-weight: normal;
    line-height: 1.6;
    font-family: 'Sawarabi Mincho', sans-serif;
    background-color: $color1;
}

.inner {
  max-width: 1500px;
  padding: 100px 0 70px;
  // min-width: 1020px;
  margin: 0 auto;
  width: 86%;
  @include sp {
    padding: 60px 0;
    width: 93%;
  }
}